<template>
  <nuxt-link :to="`/home/${home.objectID}`" prefetch>
    <NuxtImg
      v-if="home.images.length"
      :src="home.images[0]"
      width="200"
      height="150"
      provider="cloudinary"
    />
    <br />
    <p>{{ home.title }}</p>
    <address>
      {{ home.location.address }}
      {{ home.location.city }}
      {{ home.location.state }}
    </address>
    <p>{{ home.guests }} guests</p>
    <p>{{ home.pricePerNight }} / night</p>
  </nuxt-link>
</template>

<script>
export default {
  props: {
    home: {
      type: Object,
      required: true,
    },
  },
};
</script>
