<template>
  <div style="text-align: center">
    <h1>Error {{ error.statusCode }}!</h1>
    {{ error.message }}
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: `${this.error.message} ${this.error.statusCode}`,
    };
  },
  props: {
    error: {
      type: Object,
      required: true,
    },
  },
};
</script>
