<template>
  <ul>
    <li
      v-for="home in homes"
      :key="home.objectID"
      style="float: left; margin: 10px"
    >
      <home-card :home="home" />
    </li>
  </ul>
</template>

<script>
export default {
  head() {
    return {
      title: "homepage",
      meta: [
        {
          name: "description",
          content: "This is a homepage",
          hid: "description",
        },
      ],
    };
  },
  async asyncData({ $dataApi }) {
    return {
      homes: (await $dataApi.getHomes()).json.hits,
    };
  },
};
/*
Your Client ID
877098889447-j4dhe2ucue58nf7boknbkdvb9fpqpa63.apps.googleusercontent.com
Your Client Secret
s70BZeeUJSeBYTokradS5vL2
*/
</script>
