<template>
  <div class="app-container">
    <PropertyGallery :images="home.images" />
    <PropertyDetails :home="home" />
    <ProperyDescription :home="home" />
    <PropertyMap :home="home" />
    <PropertyReviews :reviews="reviews" />
    <PropertyHost :user="user" />
    <script type="application/ld+json" v-html="getSchema"></script>
  </div>
</template>

<script>
import PropertyDetails from "../../components/PropertyDetails.vue";

export default {
  components: { PropertyDetails },
  head() {
    return {
      title: this.home.title,
    };
  },
  computed: {
    getSchema() {
      return JSON.stringify({
        "@context": "http://schema.org",
        "@type": "BedAndBreakfast",
        name: this.home.title,
        image: this.$img(
          this.home.images[0],
          { width: 1200 },
          { provider: "cloudinary" }
        ),
        address: {
          "@type": "PostalAddress",
          addressLocality: this.home.location.city,
          addressRegion: this.home.location.state,
          addressCode: this.home.location.zipcode,
          streetAddress: this.home.location.address,
        },
        aggregateRating: {
          "@type": "AggregateRating",
          ratingValue: this.home.reviewValue,
          reviewCount: this.home.reviewCount,
        },
      });
    },
  },
  async asyncData({ params, $dataApi, error }) {
    const responses = await Promise.all([
      $dataApi.getHome(params.id),
      $dataApi.getReviewsByHomeId(params.id),
      $dataApi.getUserByHomeId(params.id),
    ]);

    const badResponse = responses.find((response) => !response.ok);
    if (badResponse)
      return error({
        statusCode: badResponse.status,
        message: badResponse.statusText,
      });

    return {
      home: responses[0].json,
      reviews: responses[1].json.hits,
      user: responses[2].json.hits[0],
    };
  },
};
</script>
